.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror p.is-empty::before {
  --tw-text-opacity: 1;
  color: rgb(161 161 170 / var(--tw-text-opacity));
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}